body{
    background-color:rgb(20,20,20);
    margin:auto;
    text-align:center;
    font-size:40px;
    color:darkgoldenrod;
}
a {
    color:darkgoldenrod;
    text-decoration:none;
    text-align:justify-all;
}
img {
    max-width:75%;
    display:block;
    margin:10% auto 10% auto;
    border-style:solid;
    border-color:white;
    border-width:10px 10px 10px 10px;
}
header {font-size:50px;}
h2 {
    font-size:30px;
    border-bottom:solid;
    border-width:3px;
}
footer{
    font-size:16px;
    font-family:serif;
    position:relative;
    bottom:0;
    width:100%;
    border-top:2px solid;
    border-color:rgb(40,40,40);
    
}
footer a{
    color:darkgoldenrod;
    text-decoration:none;
}