body{
    background-color:rgb(20,20,20);
    margin:auto;
    text-align:center;
    font-size:40px;
    color:darkgoldenrod;
}
/*img {
    max-width:70%;
    max-height:70%;
    display:block;
    margin:150px auto 150px auto;
    padding:50px 25px 50px 25px;
    border-style:solid;
    border-color:rgb(80,80,80);
    border-width:thick;
}*/
a {
    color:darkgoldenrod;
    text-decoration:none;
    text-align:justify-all;
}
img {
    max-width:60%;
    max-height:60%;
    display:block;
    margin:10% auto 10% auto;
    border-style:inset;
    border-color:rgb(150,120,100);
    border-width:10px;
}